ul,li,ol,dl,dt,dd{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
dl#logisticsMess_content{
	display: flex;
	background-color: #fff;
	width: 22.2222rem;
	font-size: 12px;
	color: #333;
}
dl#logisticsMess_content>dt{
	padding: 0.5185rem 0 0 0.5185rem;
	width: 4.3703rem;
	border-right: 1px solid #eee;
}
dl#logisticsMess_content>dt p{
	height: 0.5925rem;
	line-height: 0.5925rem;
}
dl#logisticsMess_content>dd{
	padding: 0.5185rem 0 0 0.7777rem;
}
dl#logisticsMess_content>dd li{
	height: 0.5925rem;
	line-height: 0.5925rem;
}
dl#logisticsMess_content>dd li time{
	margin: 0 0.7037rem 0 0.3518rem;
}
dl#logisticsMess_content>dd ul>li:first-of-type span{
	color: #e95758;
}