.container{
    height: 197px;
    background-color: #fff;
    padding-top: 5px;
}

.hollow-button, .red-button {
    width: 112px;
    height: 35px;
    display: inline-block;
}

.floor {
    text-align: center;
    padding-top: 28px;
}

#productPicture{
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

