
.desiDeta-content{
    width: 1005px;
}
.desiDeta-title{
    background-color: #fff;
}
.design-title {
    padding: 32px 0px 0px 40px;
    display: inline-block;
}
.design-title span {
    display: inline-block;
    width: 6px;
    height: 18px;
    background: #5298FF;
}
.design-title b {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #333333;
    font-weight: 400;
    margin-left: 5px;
}
.design-left{
    margin-left: 377px;
}
.design-box{
    width: 480px;
    display: inline-block;
    vertical-align: top;
}
.order-status{
    display: inline-block;
    font-size: 12px;
    color: #333333;
    float: right;
}
.emer {
    font-size: 11px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(180,51,15,0.50);
    display: inline-block;
    width: 26px;
    height: 24px;
    line-height: 24px;
    background: url(../../Image/WorkShop/workShopDetails.png) no-repeat -26px -1px;
}
.renew {
    font-size: 11px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(18,46,128,0.50);
    margin-left: 12px;
    display: inline-block;
    width: 26px;
    height: 24px;
    line-height: 24px;
    background: url(../../Image/WorkShop/workShopDetails.png) no-repeat 0px -1px;
}
.designAttr-text p{
    display: inline-block;
}
.design-attr{
    width: 462px;
    background: #FAFBFB;
    margin: 5px 20px;
    font-size: 14px;
    color: #999999;
}
.design-attr-content{
    padding: 15px 20px;
}
.order-refe{
    width: 48px;
    height: 48px;
    vertical-align: top;
}
.desi-text{
    display: inline-block;
    width: 78px;
    font-size: 14px;
    color: #999999;
}
.attr-text,.order-requ{
    display: inline-block;
    width: 322px;
    vertical-align: top;
}
.quote-1{
    margin-top: 5px;
}
.order-money,.order-money-pre{
    color: #E84B4C;
}
.up-design-box{
    width: 420px;
    display: inline-block;
    vertical-align: top;
    margin: 15px 38px;
}
.design-uploadPhoto {
    height: 145px;
}
.label-1 {
    font-size: 14px;
    color: #666666;
}
.label-2 {
    font-size: 14px;
    color: #D5D5D5;
    font-weight: 300;
    letter-spacing: 0;
    text-align: right;
    float: right;
}
#prod_refe {
    height: 110px;
    /* margin-left: 152px; */
    margin-top: 15px;
}
.design-uploadFile {
    margin-top: 22px;
}
.label-3 {
    font-size: 14px;
    color: #666666;
}
.label-4 {
    font-size: 14px;
    color: #D5D5D5;
    font-weight: 300;
    letter-spacing: 0;
    text-align: right;
    float: right;
}
.details-encl-box {
    width: 204px;
    height: 100px;
    border: 1px dotted #d5d5d5;
    margin-top: 15px;
    display: inline-block;
}
#details-encl-box-next{
    float: right;
}
.details-rema-box {
    margin-top: 29px;
    position: relative;
}
.design-rema {
    margin-top: 10px;
}
.details-rema-box p {
    font-size: 12px;
    color: #D5D5D5;
    letter-spacing: 0;
}

.design-rema textarea {
    height: 143px;
    border: 1px solid #d5d5d5!important;
}
#details_encl_textarea .addDiagram{
     width: inherit;
     height: inherit;
     box-shadow:inherit;
     float: inherit;
     border-radius: inherit;
     background-color: inherit;
     margin-right: inherit;
     position: absolute;
     bottom: 30px;
     left: 10px;
}
#details_encl_textarea .dia-icon{
    width: 16px;
    height: 14px;
    display: inline-block;
    margin: inherit;
    background: url(../../Image/Designer/desiDesigner.png) no-repeat -58px -6px;
    vertical-align: middle;
}
#details_encl_textarea .dia-remind-1{
    display: inline-block;
    width: inherit;
    text-align: inherit;
    color: #E84B4C;
    font-size: 12px;
    margin-left: 10px;
    text-decoration: underline;
}
#details_encl_textarea .dia-remind-2 {
    display: inline-block;
    width: inherit;
    text-align: inherit;
    color: #d5d5d5;
    margin-left: 3px;
}
#details_encl_textarea .diagram{
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
}
#details_encl_textarea .diagram img{
    max-width: 48px;
    max-height: 48px;
}
#details_encl_textarea .diagram .progress span{
    font-size: 15px;
}
.dest-btn{
    width: 160px;
    height: 38px;
    line-height: 38px;
}
.dest-btn-box{
    text-align: center;
    margin-top: 30px;
}
.dest-btn-text{
    text-align: center;
    font-size: 14px;
    color: #D5D5D5;
    margin-top: 15px;

}
.dest-btn-text-on{
 color: #E84B4C;
    text-decoration: underline;
    cursor: pointer;
}
.accessory-container .filelist {
    width: 100%;
    margin-right: 20px;
    margin-left: -32px;
}
.prod-details{
    background-color: #fff;
}

.deis-box .design-box{
    width: 965px;
}
.deis-box .design-box .design-attr{
    width: 942px;
}
.deis-box .design-box .design-attr .order-status{
    margin-right: 315px;
}
.design-attr-content-pre{
    width: 640px;
    display: inline-block;
}
.design-attr-pre-right{
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right: 40px;
    width: 180px;
}
.deis-box .design-box .design-attr-content{
    height: 239px;
}



/****留言板内容***/
.leav-box{
    width: 437px;
    height: 540px;
    background: #FFFFFF;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.06);
    border-radius: 4px;
    clear: both;
    margin-top: 20px;
    margin-left: 20px;
}
.leav-title{
    height: 36px;
    line-height: 36px;
    width: 357px;
    margin: 0 auto;
    padding-top: 20px;
    border-bottom: 1px solid #f5f5f5;
}
.leav-title span{
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.1px;
    text-align: center;
}
.leav-title-right{
    display: inline-block;
    float: right;
    font-size: 12px;
    color: #999999;
}
.leav-title-right a{
    display: inline-block;
    width: 13px;
    height: 12px;
    background-color: #d5d5d5;
    vertical-align: middle;
}
.leav-content{
    width: 357px;
    height: 310px;
    overflow: scroll;
    padding-top: 30px;
    margin: 0 auto;
}
.leav-text-first {
    height: 14px;
    font-size: 14px;
    color: #999999;
}
.TextList-left,.TextList-right{
    display: inline-block;
}
.TextList-right{
    float: right;
}
.TextList-left span{
    color: #333;
}
.TextList-right span{
    font-size: 12px;
    color: #999999;
}
.leav-text-second{
    width: 323px;
    margin-top: 10px;
    background: #FAFBFB;
    padding: 6px 15px;
}
#details_reg .diagram-container .diagram img{
    max-width: 48px;
    max-height: 48px;
}
#details_reg .diagram {
    width: 48px;
    height: 48px;
}
#details_reg .addDiagram{
    width: 48px;
    height: 48px;
}
.leav-show{
    height: 43px;
    background-color: #fafbfb;
    margin-top: 53px;
}
.leav-show-left{
    display: inline-block;
    float: right;
    line-height: 43px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
    color: #666666;
}
.leav-show-left input{
    vertical-align: unset;
}
.leav-bottom-box{
    height: 46px;
}
.leav-bottom-up,.leav-bottom-input,.leav-btn{
    display: inline-block;
    vertical-align: middle;
}

#leav_bottom_img .diagram{
    width: 45px;
    height: 45px;
}

#leav_bottom_img .addDiagram{
    width: 45px;
    height: 45px;
    box-shadow: inherit;
    border-radius: inherit;
    background-color: initial;
    border-right: 1px solid #f5f5f5;
}
#leav_bottom_img .addDiagram .dia-icon{
    display: block;
    width: 16px;
    height: 14px;
    margin: 15px 15px 0;
    /*background: url(../../Image/createOrder/createOrder.png) no-repeat -7px -36px;*/
    background-color: #f5f5f5;
}
#leav_bottom_img .addDiagram .dia-remind-1{
    display: none;
}
#leav_bottom_img .addDiagram .dia-remind-2{
    display: none;
}
#leav_bottom_file .accessory-icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 15px 0px;
    background-color: #f5f5f5;


}
#leav_bottom_file .addAccessory-title{
    display: none;
}
#leav_bottom_file .accessory-message{
    display: none;
}

#leav_bottom_file .addAccessory-btn{
    display: none;
}
#leav_bottom_file{
    margin-left: 47px;
    width: 45px;
    height: 45px;
    border-right: 1px solid #f5f5f5;

}
.leav-bottom-input input{
    height: 45px;
    padding-left: 10px;
}
.leav-btn button{
    width: 88px;
    height: 34px;
    line-height: 34px;
}
.leav-btn{
    float: right;
    margin-top: 6px;
    margin-right: 10px;
}
.details-encl-type{
    display: inline-block;
    width: 61px;
    height: 18px;
    line-height: 18px;
    background: #F5F5F5;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0.09px;
    text-align: center;
    float: right;
}