
.desiDeta-content{
    width: 1005px;
}
.desiDeta-title{
    background-color: #fff;
}
.design-title {
    padding: 32px 0px 0px 40px;
    display: inline-block;
}
.design-title span {
    display: inline-block;
    width: 6px;
    height: 18px;
    background: #5298FF;
}
.design-title b {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #333333;
    font-weight: 400;
    margin-left: 5px;
}
.design-left{
    margin-left: 377px;
}
.design-box{
    width: 480px;
    display: inline-block;
    vertical-align: top;
}
.design-attr-btn{
    width: 160px;
    height: 38px;
    line-height: 38px;
    display: inherit;
    margin: 0 auto;
    margin-top: 30px;
}
.order-status{
    display: inline-block;
    font-size: 12px;
    color: #333333;
    float: right;
}
.emer {
    font-size: 11px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(180,51,15,0.50);
    display: inline-block;
    width: 26px;
    height: 24px;
    line-height: 24px;
    background: url(../../Image/WorkShop/workShopDetails.png) no-repeat -26px -1px;
}
.renew {
    font-size: 11px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(18,46,128,0.50);
    margin-left: 12px;
    display: inline-block;
    width: 26px;
    height: 24px;
    line-height: 24px;
    background: url(../../Image/WorkShop/workShopDetails.png) no-repeat 0px -1px;
}
.designAttr-text p{
    display: inline-block;
}
.design-attr{
    width: 462px;
    background: #FAFBFB;
    margin: 5px 20px;
    font-size: 14px;
    color: #999999;
}
.design-attr-content{
    padding: 15px 20px;
}
.order-refe{
    width: 48px;
    height: 48px;
    vertical-align: top;
}
.desi-text{
    display: inline-block;
    width: 78px;
    font-size: 14px;
    color: #999999;
}
.attr-text,.order-requ{
    display: inline-block;
    width: 322px;
    vertical-align: top;
}
.quote-1{
    margin-top: 5px;
}
.order-money,.order-money-pre{
    color: #E84B4C;
}
.up-design-box{
    width: 420px;
    display: inline-block;
    vertical-align: top;
    margin: 15px 38px;
}
.design-uploadPhoto {
    height: 145px;
}
.label-1 {
    font-size: 14px;
    color: #666666;
}
.label-2 {
    font-size: 14px;
    color: #D5D5D5;
    font-weight: 300;
    letter-spacing: 0;
    text-align: right;
    float: right;
}
#prod_refe {
    height: 110px;
    /* margin-left: 152px; */
    margin-top: 15px;
}
.design-uploadFile {
    margin-top: 22px;
}
.label-3 {
    font-size: 14px;
    color: #666666;
}
.label-4 {
    font-size: 14px;
    color: #D5D5D5;
    font-weight: 300;
    letter-spacing: 0;
    text-align: right;
    float: right;
}
.details-encl-box {
    width: 204px;
    height: 100px;
    border: 1px dotted #d5d5d5;
    margin-top: 15px;
    display: inline-block;
}
#details-encl-box-next{
    float: right;
}
.details-rema-box {
    margin-top: 29px;
    position: relative;
}
.design-rema {
    margin-top: 10px;
}
.details-rema-box p {
    font-size: 12px;
    color: #D5D5D5;
    letter-spacing: 0;
}

.design-rema textarea {
    height: 143px!important;
    width: 402px!important;
    border: 1px solid #d5d5d5!important;
}
#details_encl_textarea .addDiagram{
    width: inherit;
    height: inherit;
    box-shadow:inherit;
    float: inherit;
    border-radius: inherit;
    background-color: inherit;
    margin-right: inherit;
    position: absolute;
    bottom: 30px;
    left: 10px;
}
#details_encl_textarea .dia-icon{
    width: 16px;
    height: 14px;
    display: inline-block;
    margin: inherit;
    background: url(../../Image/Designer/desiDesigner.png) no-repeat -58px -6px;
    vertical-align: middle;
}
#details_encl_textarea .dia-remind-1{
    display: inline-block;
    width: inherit;
    text-align: inherit;
    color: #E84B4C;
    font-size: 12px;
    margin-left: 10px;
    text-decoration: underline;
}
#details_encl_textarea .dia-remind-2 {
    display: inline-block;
    width: inherit;
    text-align: inherit;
    color: #d5d5d5;
    margin-left: 3px;
}
#details_encl_textarea .diagram{
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
}
#details_encl_textarea .diagram img{
    max-width: 48px;
    max-height: 48px;
}
#details_encl_textarea .diagram .progress span{
    font-size: 15px;
}
.details-encl-type{
    display: inline-block;
    float: right;
    width: 61px;
    height: 18px;
    line-height: 18px;
    background: #F5F5F5;
    text-align: center;
}
.dest-btn{
    width: 160px;
    height: 38px;
    line-height: 38px;
}
.dest-btn-box{
    text-align: center;
    margin-top: 30px;
}
.dest-btn-text{
    text-align: center;
    font-size: 14px;
    color: #D5D5D5;
    margin-top: 15px;

}
.dest-btn-text-on{
    color: #E84B4C;
    text-decoration: underline;
    cursor: pointer;
}
.accessory-container .filelist {
    width: 100%;
    margin-right: 20px;
    margin-left: -32px;
}
.prod-details{
    background-color: #fff;
}

.deis-box .design-box{
    width: 965px;
}
.deis-box .design-box .design-attr{
    width: 942px;
}
.deis-box .design-box .design-attr .order-status{
    margin-right: 315px;
}
.design-attr-content-pre{
    width: 640px;
    display: inline-block;
}
.design-attr-pre-right{
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right: 40px;
    width: 180px;
}
.deis-box .design-box .design-attr-content{
    height: 239px;
}


.leav-box {
    width: 437px;
    height: 540px;
    background: #FFFFFF;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.06);
    border-radius: 4px;
    clear: both;
    /* margin-top: 55px; */
    margin-left: 30px;
}


.leav-title{
    height: 36px;
    line-height: 36px;
    width: 357px;
    margin: 0 auto;
    padding-top: 20px;
    border-bottom: 1px solid #f5f5f5;
}
.leav-title span{
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.1px;
    text-align: center;
}
.leav-title-right{
    display: inline-block;
    float: right;
    font-size: 12px;
    color: #999999;
}
.leav-reg-img{
    height: 48px;
    margin-top: 10px;
}
.leav-reg-img .diagram .handle .dia-zoom{
    margin: 0 -1px;
}
.leav-reg-file{
    margin-top: 10px;
}
.leav-reg-img .diagram{
    width: 48px;
    height: 48px;
}
.leav-reg-file .accessory-container{
    margin-left: -112px;
}
.leav-title-right a{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url(../../Image/orderDetails/customerServiceDetails.png) no-repeat -59px -111px;
    vertical-align: middle;
}
.leav-content{
    width: 357px;
    height: 341px;
    overflow: scroll;
    /*padding-top: 30px;*/
    margin: 0 auto;
}
.leav-text-first {
    height: 14px;
    font-size: 14px;
    color: #999999;
}
#leav_bottom_img .diagram .handle .oper{
    margin: 0 -1px;
}
.TextList-left,.TextList-right{
    display: inline-block;
}
.TextList-right{
    float: right;
}
.TextList-left span{
    color: #333;
}
.TextList-right span{
    font-size: 12px;
    color: #999999;
}
.leav-text-second{
    width: 323px;
    margin-top: 10px;
    background: #FAFBFB;
    padding: 6px 15px;
}
.leav-reg-title{
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.leav-reg-title .line {
    display: inline-block;
    width: 128px;
    border-top: 2px solid #d5d5d5 ;
}
.leav-reg-title .txt {
    font-size: 14px;
    color: #333333;
    vertical-align: middle;
    display: inline-block;
    width: 63px;
}
#details_reg .diagram-container .diagram img{
    max-width: 48px;
    max-height: 48px;
}
#details_reg .diagram {
    width: 48px;
    height: 48px;
}
#details_reg .addDiagram{
    width: 48px;
    height: 48px;
}
.leav-show{
    height: 43px;
    background-color: #fafbfb;
    margin-top: 53px;
}
.leav-show-left{
    display: inline-block;
    float: right;
    line-height: 43px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
    color: #666666;
}
.leav-show-left input{
    vertical-align: unset;
}
.leav-bottom-box{
    height: 46px;
}
.leav-bottom-up,.leav-bottom-input,.leav-btn{
    display: inline-block;
    vertical-align: middle;
}

#leav_bottom_img .diagram{
    width: 38px;
    height: 38px;
}
#leav_bottom_img .diagram img{
    width: 38px;
    height: 38px;
}
#leav_bottom_img .diagram img{
    max-width: 38px;
    max-height: 38px;
}
#leav_bottom_img .diagram .progress span{
    font-size: 12px;
    color: #fff;
}
#leav_bottom_img .diagram-container{
    margin-top: -38px;
    position: absolute;
}
#leav_bottom_img .addDiagram{
    width: 45px;
    height: 45px;
    box-shadow: inherit;
    border-radius: inherit;
    background-color: initial;
    border-right: 1px solid #f5f5f5;
}
#leav_bottom_img .addDiagram .dia-icon{
    display: block;
    width: 16px;
    height: 14px;
    margin: 15px 15px 0;
    background: url("../../Image/orderDetails/customerServiceDetails.png") no-repeat -5px -84px;
}
#leav_bottom_img .addDiagram .dia-remind-1{
    display: none;
}
#leav_bottom_img .addDiagram .dia-remind-2{
    display: none;
}
#leav_bottom_file .accessory-icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 15px 0px;
    background: url("../../Image/orderDetails/customerServiceDetails.png") no-repeat -31px -83px;
}
#leav_bottom_file .addAccessory{
    position: absolute;
    top: -42px;
    cursor: pointer;
}
#leav_bottom_file .addAccessory-title{
    display: none;
}
#leav_bottom_file .accessory-message{
    display: none;
}

#leav_bottom_file .addAccessory-btn{
    visibility: hidden;
}
#leav_bottom_file{
    margin-left: 47px;
    width: 45px;
    height: 45px;
    border-right: 1px solid #f5f5f5;

}

.leav-bottom-input input{
    height: 45px;
    padding-left: 10px;
}
.leav-btn button{
    width: 88px;
    height: 34px;
    line-height: 34px;
}
.leav-btn{
    float: right;
    margin-top: 6px;
    margin-right: 10px;
}
#leav_bottom_img .diagram{
    margin-right: 16px!important;
}

#leav_bottom_file .accessory-container{
    position: relative;
}
#leav_bottom_file .accessory-container .filelist{
    position: absolute;
    top: -86px;
}





/***设计稿**/
.design-man .design-title{
    padding: 32px 0px 0px 40px;
    display: inline-block;
}

.design-man .design-title span{
    display: inline-block;
    width: 6px;
    height: 18px;
    background: #5298FF;
}
.planner-leav-last{
    height: 110px;
}
.design-man .design-title b{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #333333;
    font-weight: 400;
    margin-left: 5px;
}
.design-man{
    margin-top: 10px;
    background-color: #fff;
    position: relative;
}
.edit-left{
    width: 406px;
    display: inline-block;
}
.design-bg{
    width: 155px;
    height: 71px;
    background: url(../../Image/orderDetails/customerServiceDetails.png)no-repeat -65px -186px;
    position: absolute;
    top: 0px;
    left: 260px;
}
.design-next-title{
    width: 925px;
    margin: 0 auto;
    margin-top: 30px;
}
.design-next-title h3{
    display: inline-block;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0.14px;
}
.design-content{
    width: 874px;
    margin: 0 auto;
    margin-top: 20px;
}
.planner{
    font-size: 18px;
    color: #999999;
}
.time-status span{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url("../../Image/orderDetails/customerServiceDetails.png") no-repeat -189px -59px;
    vertical-align: text-top;
}
.time-status{
    font-size: 12px;
    color: #999999;
    margin-top: 8px;
}
.time-status a{
    margin-left: 10px;
    font-size: 12px;
    color: #999999;
}
.for-design{
    height: 660px;
    position: relative;
}
.list-1{
    font-size: 14px;
    color: #666666;
}
.desi-box{
    height: 124px;
    margin-top: 20px;
}
#edit_desi,#desi_encl,#other_encl{
    margin-top: 10px;
}
.desi-encl-box,.other-encl-box{
    height: 44px;
    margin-top: 20px;
}
.planner-leav{
    width: 406px;
    /*height: 217px;*/
    background-color: #fafbfb;
    margin-left: -20px;
    margin-top: 20px;
}
.planner-leav-content{
    padding: 10px 20px;
}
.planner-leav-text{
    font-size: 12px;
    color: #333333;
}
#planner_leav{
    margin-top: 10px;
}
.desi-encl-box .filelist{
    margin-left: -112px;
    margin-top: 5px;
}
.other-encl-box .filelist{
    margin-left: -112px;
    margin-top: 5px;
}
.planner-leav-content .diagram-container .diagram{
    margin-right: 12px!important;
}
.edit-right-button{
    float: right;
    height: 34px;
}
.edit-right-button span{
    font-size: 12px;
    color: #E84B4C;
    letter-spacing: 0;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 30px;
}
.leav-title-right-text{
    display: inline-block;
}
.EditButton{
    background: #FFFFFF;
    border: 1px solid #E84B4C;
    border-radius: 4px;
    width: 126px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #E84B4C;
    letter-spacing: 0;
    cursor: pointer;
}
